@{
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is an ASP.NET MVC Project developed by eduarmreyes to showcase his programming knowledge towards web applications and web sites.</p>
<p>Furthermore, this project showcase problem-solving and courage to move forward when downsides happends in projects of this nature.</p>
