@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    3018 33rd ST SW<br />
    Lehigh Acres, FL, 33976<br />
    <abbr title="Phone">P:</abbr>
    239.628.9209
</address>

<address>
  <strong>Support:</strong>   <a href="mailto:eduar.mreyes@gmail.com">eduar.mreyes@gmail.com</a><br />
  <strong>Marketing:</strong> <a href="mailto:eduar.mreyes@gmail.com">eduar.mreyes@gmail.com</a><br />
  <strong>Development:</strong> <a href="mailto:eduar.mreyes@gmail.com">eduar.mreyes@gmail.com</a>
</address>